<ng-template #modalTitle>
  <span nz-icon [nzType]="backendService.isEditMode() ? 'edit' : 'plus'" nzTheme="outline"></span>
  <span> {{ backendService.isEditMode() ? 'Edit Expense' : 'Add New Expense' }}</span>
</ng-template>
<nz-modal
  nzCentered
  [(nzVisible)]="backendService.showAddModal"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="backendService.isSendingRequest()"
  [nzWidth]="modalWidth"
>
  <ng-container *nzModalContent>
    <div class="form-wrapper">
      <form nz-form [formGroup]="validateForm">
        <div class="row g-3">
          <div class="col-12 col-lg-6">
            <!-- Title -->
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon nzLabelAlign="left" nzSpan="24">Title</nz-form-label>
              <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Title is required!">
                <input nz-input formControlName="title" placeholder="e.g. Monthly Rent, Vegetable Purchase"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-12 col-lg-6">
            <!-- Amount -->
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon nzLabelAlign="left" nzSpan="24">Amount (৳)</nz-form-label>
              <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="amountErrorTmpl">
                <nz-input-number
                  formControlName="amount"
                  [nzMin]="0"
                  [nzStep]="1"
                  [nzPrecision]="2"
                  nzPlaceHolder="0.00"
                  style="width: 100%"
                ></nz-input-number>
                <ng-template #amountErrorTmpl let-control>
                  @if (control.errors?.['required']) {
                    Amount is required!
                  } @else if (control.errors?.['min']) {
                    Amount must be greater than 0!
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-12 col-lg-6">
            <!-- Category -->
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon nzLabelAlign="left" nzSpan="24">Category</nz-form-label>
              <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Category is required!">
                <nz-select formControlName="category" nzPlaceHolder="Select a category">
                  @for (cat of categories; track cat) {
                    <nz-option [nzValue]="cat" [nzLabel]="cat"></nz-option>
                  }
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-12 col-lg-6">
            <!-- Expense Date -->
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon nzLabelAlign="left" nzSpan="24">Expense Date</nz-form-label>
              <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Expense date is required!">
                <nz-date-picker
                  formControlName="expenseDate"
                  nzPlaceHolder="Select date"
                  style="width: 100%"
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-12">
            <!-- Notes -->
            <nz-form-item>
              <nz-form-label nzNoColon nzLabelAlign="left" nzSpan="24">Notes</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <textarea rows="3" nz-input formControlName="notes" placeholder="Optional notes about this expense"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </div>
  </ng-container>

  <div *nzModalFooter>
    <button class="drop-shadow-md" nz-button nzDanger nzType="default" (click)="handleCancel()">Cancel
    </button>
    <button class="drop-shadow-md" nz-button nzType="primary" (click)="handleOk()"
            [nzLoading]="backendService.isSendingRequest()">
      {{ backendService.isEditMode() ? 'Update Expense' : 'Add Expense' }}
    </button>
  </div>
</nz-modal>
