<div class="main-wrapper p-0 p-md-4 pb-md-0">
  <div class="bg-white drop-shadow-lg md:rounded-lg rounded-none pt-0 pt-md-3">
    <ng-template #indicatorTemplate><span class="h-100" style="font-size:50px; color: darkseagreen" nz-icon nzType="loading" nzTheme="outline"></span></ng-template>
    <nz-table
      nzShowSizeChanger
      nzPaginationType='default'
      [nzScroll]="{ y: 'calc(100vh - 300px)', x: '768px'}"
      [nzWidthConfig]="['120px', 'auto', 'auto', 'auto', 'auto', 'auto', '180px']"
      nzTableLayout="auto"
      [nzData]="listOfEmployees()"
      [nzFrontPagination]="true"
      [nzLoading]="employeeService.isSendingRequest()"
      [nzLoadingIndicator]="indicatorTemplate"
      [nzTotal]="employeeService.totalEmployees()"
      [nzPageSize]="this.pageSize"
      [nzPageIndex]="this.pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
      [nzShowTotal]="totalTemplate"
    >
      <ng-template #totalTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
      </ng-template>
      <thead>
      <tr>
        <th nzTooltipTitle="" nzTooltipPlacement="topLeft" nz-tooltip class="truncate custom-table-title" nzColumnKey="image"></th>
        <th nzTooltipTitle="Name" nzTooltipPlacement="topLeft" nz-tooltip class="truncate custom-table-title" nzColumnKey="name">Name</th>
        <th nzTooltipTitle="Email" nzTooltipPlacement="topLeft" nz-tooltip class="truncate custom-table-title" nzColumnKey="email">Email</th>
        <th nzTooltipTitle="Designation" nzTooltipPlacement="topLeft" nz-tooltip class="truncate custom-table-title" nzColumnKey="designation">Designation</th>
        <th nzTooltipTitle="Join Date" nzTooltipPlacement="topLeft" nz-tooltip class="truncate custom-table-title" nzColumnKey="joindate">Join Date</th>
        <th nzTooltipTitle="Phone" nzTooltipPlacement="topLeft" nz-tooltip class="truncate custom-table-title" nzColumnKey="phone">Phone</th>
        <th class="custom-table-title-button" nzColumnKey="action">
          <button class="add-employee-button" (click)="employeeService.showAddModal.set(true)">
            <span nz-icon nzType="user-add" nzTheme="outline"></span>
            <span>
              Add Employee
            </span>
          </button>
        </th>
      </tr>
      </thead>
      <tbody>
        @for (data of listOfEmployees(); track data.id) {
          <tr class="custom-table-row">
            <td>
              <div class="d-flex justify-content-center">
                <nz-avatar [nzSize]="52" nzIcon="user" [nzSrc]="getImageUrl(data.user.image)"></nz-avatar>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-between pe-3">
                <p nzTooltipTitle="{{ data.user.firstName }} {{ data.user.middleName }} {{ data.user.lastName }}" nzTooltipPlacement="topLeft" nz-tooltip class="truncate">{{ data.user.firstName }} {{ data.user.middleName }} {{ data.user.lastName }}</p>
                <span nz-icon  nzType="star" [nzTheme]="starMarked" (click)="toggleStar()"  nzTwotoneColor="orange" style="color: orange"></span>
              </div>
            </td>
            <td nzTooltipTitle="{{ data.user.email }}" nzTooltipPlacement="topLeft" nz-tooltip class="truncate">{{ data.user.email }}</td>
            <td nzTooltipTitle="{{ data.designation }}" nzTooltipPlacement="topLeft" nz-tooltip class="truncate">{{ data.designation }}</td>
            <td nzTooltipTitle="{{ data.joinDate }}" nzTooltipPlacement="topLeft" nz-tooltip class="truncate">{{ data.joinDate }}</td>
            <td nzTooltipTitle="{{ data.user.phoneNumber }}" nzTooltipPlacement="topLeft" nz-tooltip class="truncate">{{ data.user.phoneNumber }}</td>
            <td>
              <div class="d-flex justify-content-center gap-2">
                <button (click)="editEmployee(data.id)" class="drop-down-button drop-shadow-md" title="Edit Employee" aria-label="Edit Employee">
                  <span nz-icon nzType="edit" nzTheme="outline"></span>
                </button>
                <button (click)="deleteUser(data.id)" class="drop-down-button drop-shadow-md" title="Delete Employee" aria-label="Delete Employee">
                  <span nz-icon nzType="delete" nzTheme="outline"></span>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </div>
</div>

<app-add-employee></app-add-employee>