<!-- Right Click Context Menu -->
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>
      <div class="row d-flex align-items-center justify-content-center pt-1 pb-1">
        <div class="col-12 d-flex justify-content-center align-items-center pb-2">
          <nz-avatar
            [nzSize]="72"
            nzIcon="user"
            [nzSrc]="employeeImageUrl">
          </nz-avatar>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center p-1 mt-0">
          <span class="font-medium text-base text-center">
            {{ employeeName() }}
          </span>
        </div>
      </div>
    </li>
    <li (click)="showDeleteConfirm()" nz-menu-item class="delete-container">
      <button class="btn delete-button w-100 ps-0">
        <span nz-icon nzType="delete" nzTheme="outline"></span>
        <span> Remove</span>
      </button>
    </li>
  </ul>
</nz-dropdown-menu>

<div class="context-area" (contextmenu)="contextMenu($event, menu)">
  <nz-avatar
    nz-tooltip
    [nzTooltipTitle]="employeeName() + ' - (Right click for action)'"
    [nzSize]="52"
    nzIcon="user"
    [nzSrc]="employeeImageUrl">
  </nz-avatar>
</div>
