.delete-button {
  border: none;
}

.delete-container {
  color: white !important;
  background: #dc2626;

  &:hover {
    background: #b91c1c;
  }
}

.delete-container .delete-button {
  color: white !important;
}
