<ng-template #modalTitle xmlns="http://www.w3.org/1999/html">
  <span nz-icon [nzType]="tableService.isEditMode() ? 'edit' : 'plus'" nzTheme="outline"></span>
  <span> {{ tableService.isEditMode() ? 'Edit Table' : 'Add New Table' }}</span>
</ng-template>
<nz-modal
  [(nzVisible)]="tableService.showAddModal"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="tableService.isSendingRequest()"
  [nzWidth]="modalWidth"
  nzCentered
>
  <ng-container *nzModalContent>
    <div class="form-wrapper">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col-12 col-lg-6 p-0 pe-lg-2">
            <!-- Table Name -->
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon nzLabelAlign="left" nzSpan="24">Table Number</nz-form-label>
              <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="tableNameErrorTmpl">
                <input nz-input formControlName="tableName" placeholder="Table Number"/>
                <ng-template #tableNameErrorTmpl let-control>
                  @if (control.errors?.['required']) {
                    This field is required!
                  } @else if (control.errors?.['notAplhaNum']) {
                    Only Letters and Numbers Allowed!
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <!-- Table Seat Count -->
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon nzLabelAlign="left" nzSpan="24">Number of Seats</nz-form-label>
              <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="numberOfSeatsError">
                <input nz-input formControlName="numberofseats" placeholder="Number of Seats in the table"/>
                <ng-template #numberOfSeatsError let-control>
                  @if (control.errors?.['required']) {
                    This field is required!
                  } @else if (control.errors?.['isNotNum']) {
                    This is not a valid number of seats!
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-12 col-lg-6 p-0 ps-lg-2">
            <div class="w-100 h-100 p-4 d-flex align-items-center justify-content-center file-upload">
              <nz-upload
                [nzShowUploadList]="{showPreviewIcon: true, showRemoveIcon: true, showDownloadIcon: false}"
                nzAction="null"
                nzListType="picture-card"
                [(nzFileList)]="fileList"
                [nzShowButton]="fileList.length < 1"
                [nzPreview]="handlePreview"
                [nzBeforeUpload]="beforeUpload"
                [nzFileType]="'image/png,image/jpeg,image/gif,image/bmp,image/webp'"
                nzAccept="image/png,image/jpeg,image/gif,image/bmp,image/webp"
                (nzChange)="onChange($event)"
              >
                <div class="card p-10 d-flex align-items-center justify-content-center">
                  <span nz-icon nzType="plus"></span>
                  <div style="margin-top: 8px">Upload Table Image</div>
                </div>
              </nz-upload>
              <nz-modal
                [nzVisible]="previewVisible"
                [nzContent]="modalContent"
                [nzFooter]="null"
                (nzOnCancel)="previewVisible = false"
                nzWidth="760px"
              >
                <ng-template #modalContent>
                  <img class="mt-2" [src]="previewImage" style="width: 100%" alt="Table image preview" title="Table image preview" />
                </ng-template>
              </nz-modal>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-container>

  <div *nzModalFooter>
    <button class="drop-shadow-md" nz-button nzDanger nzType="default" (click)="handleCancel()">Cancel Operation</button>
    <button class="drop-shadow-md" nz-button nzType="primary" (click)="handleOk()"
            [nzLoading]="tableService.isSendingRequest()">
      {{ tableService.isEditMode() ? 'Update Table' : 'Add New Table' }}
    </button>
  </div>
</nz-modal>
