<ng-template #indicatorTemplate>
  <div class="loading h-100 w-100 d-flex justify-content-center align-items-center" style="background: rgba(255, 255, 255, 0.6)">
    <div style="font-size:50px; color: darkseagreen" nz-icon nzType="loading" nzTheme="outline">
    </div>
  </div>
</ng-template>

<div class="main-wrapper pb-0 relative">
  <div class="order-container h-100 position-relative" [ngClass]="{'overflow-scroll': !this.orderService.isSendingRequest(), 'overflow-clip': this.orderService.isSendingRequest()}">
    <nz-spin class="position-absolute w-100 h-100" nzSimple="false" [nzSpinning]="this.orderService.isSendingRequest()" [nzIndicator]="indicatorTemplate" [class.d-none]="!this.orderService.isSendingRequest()">
    </nz-spin>
    <div class="container-fluid order-item-container p-4 pt-0">
      <div class="d-flex justify-content-end align-items-center w-100 h-20">
        <button class="drop-down-filter" nz-dropdown [nzDropdownMenu]="menu">
          Filter Orders
          <span nz-icon nzType="down"></span>
        </button>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="onChangeFilter('All')">All</li>
          <li nz-menu-item (click)="onChangeFilter('Pending')">Pending</li>
          <li nz-menu-item (click)="onChangeFilter('Confirmed')">Confirmed</li>
          <li nz-menu-item (click)="onChangeFilter('Preparing')">Preparing</li>
          <li nz-menu-item (click)="onChangeFilter('Prepared To Serve')">Prepared To Serve</li>
          <li nz-menu-item (click)="onChangeFilter('Served')">Served</li>
          <li nz-menu-item (click)="onChangeFilter('Paid')">Paid</li>
        </ul>
      </nz-dropdown-menu>
      @if (this.orderService.listOfOrder().length) {
        <div>
          <!--Main Content Start-->
          <div class="row g-3 g-md-3 g-xl-4 gy-0">
            @for (orderData of orderService.listOfOrder(); track orderData.id) {
              <div class="col-12 col-xl-6 col-xxl-4">
                <div class="order-card bg-white shadow rounded-md">
                  <div class="row order-card-header d-flex p-4 pb-2">
                    <div class="col-8 p-0">
                      <div class="text-xl truncate">{{orderData.orderNumber}}</div>
                      <div class="text-lg text-gray-700 text-opacity-70">{{formatOrderTime(orderData.orderTime)}}</div>
                    </div>
                    <div class="col-4 d-flex gap-2 justify-content-end">
                      <nz-dropdown-menu #clickMenu="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                          <li nz-menu-item (click)="changeOrderStatus(orderData, 'Pending')">Pending</li>
                          <li nz-menu-item (click)="changeOrderStatus(orderData, 'Confirmed')">Confirmed</li>
                          <li nz-menu-item (click)="changeOrderStatus(orderData, 'Preparing')">Preparing</li>
                          <li nz-menu-item (click)="changeOrderStatus(orderData, 'Prepared To Serve')">Prepared To Serve</li>
                          <li nz-menu-item (click)="changeOrderStatus(orderData, 'Served')">Served</li>
                          <li nz-menu-item (click)="changeOrderStatus(orderData, 'Paid')">Paid</li>
                        </ul>
                      </nz-dropdown-menu>

                      <button class="drop-down-button status-button drop-shadow-md" nzTrigger="hover" [nzClickHide]="false" nz-dropdown [nzDropdownMenu]="clickMenu" title="Change Status" aria-label="Change Order Status">
                        <span nz-icon nzType="swap" nzTheme="outline"></span>
                      </button>
                      <button (click)="editOrder(orderData)" class="drop-down-button drop-shadow-md" title="Edit Order" aria-label="Edit Order">
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                      </button>
                      <button (click)="deleteOrder(orderData)" class="drop-down-button drop-shadow-md" title="Delete Order" aria-label="Delete Order">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                      </button>
                    </div>
                  </div>
                  <hr class="h-[2px] bg-gray-400 border-0 dark:bg-gray-700">
                  <div class="order-card-body overflow-auto p-4 pt-0">
                    @for (foodItem of orderData.orderItems; track foodItem.id) {
                      <div class="d-flex gap-3 mt-4 w-100">
                        <div class="food-image-container">
                          <img nz-image nzDisablePreview class="food-image rounded-lg drop-shadow-lg" [nzSrc]="getFoodImage(foodItem.food.image)" alt="" [nzFallback]="fallbackImage">
                        </div>
                        <div class="d-flex flex-column w-100">
                          <div class="text-lg text-slate-800 text-opacity-90">{{foodItem.food.name}}</div>
                          <div class="d-flex justify-content-between w-100">
                            <div class="text-md text-slate-800 text-opacity-70">{{foodItem.totalPrice}} ৳</div>
                            <div class="text-md text-slate-800 text-opacity-70">QTY. {{foodItem.quantity}}</div>
                          </div>
                        </div>
                      </div>
                    }
                  </div>
                  <div class="d-flex justify-content-between p-2 ps-3 pe-3">
                    <div class="d-flex flex-column">
                      <div class="text-md text-slate-800 text-opacity-70">Total Quantity: <span class="font-bold text-md md:text-lg">{{orderData.orderItems.length}}</span></div>
                      <div class="text-md md:text-xl text-slate-800 text-opacity-70">Total Amount (৳): <span class="font-bold text-md md:text-xl underline decoration-sky-500/30">{{orderData.amount}}৳</span></div>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                      <div class="text-sm md:text-md text-slate-800 text-opacity-70">
                        @switch (orderData.orderStatus) {
                          @case("Pending"){
                            <div class="pe-1 text-amber-500">
                              {{orderData.orderStatus}}
                            </div>
                          }
                          @case("Confirmed"){
                            <div class="pe-1 text-amber-600">
                              {{orderData.orderStatus}}
                            </div>
                          }
                          @case("Preparing"){
                            <div class="pe-1 text-amber-500">
                              {{orderData.orderStatus}}
                            </div>
                          }
                          @case("PreparedToServe"){
                            <div class="pe-1 text-teal-800">
                              P.T.S
                            </div>
                          }
                          @case("Served"){
                            <div class="pe-1 text-green-700">
                              {{orderData.orderStatus}}
                            </div>
                          }
                          @case("Paid"){
                            <div class="pe-1 text-green-700">
                              {{orderData.orderStatus}}
                            </div>
                          }
                        }
                      </div>
                      <div class="text-lg md:text-2xl text-slate-800 text-opacity-70">
                        {{orderData.table.tableNumber}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
          <div class="d-flex d-md-none justify-content-center align-items-center bg-white rounded-lg shadow-lg w-100 mt-3">
            <div class="p-2">
              <div class="p-2">
                <nz-pagination [nzSize]="'small'" (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)" [nzResponsive]="'true'" [nzPageIndex]="pageIndex" [nzTotal]="orderService.totalOrder()" [nzPageSize]="pageSize"></nz-pagination>
                <ng-template #rangeTemplate let-range="range" let-total class="d-none d-md-block">
                  {{ range[0] }}-{{ range[1] }} of {{ total }} items
                </ng-template>
              </div>
            </div>
          </div>
          <div class="d-flex invisible sticky-bottom d-flex justify-content-end mt-2 w-auto">
            <div class="p-3 pe-4">
              <div class="p-2 p-md-4 bg-white rounded-lg shadow-lg">
                <nz-pagination (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)" [nzResponsive]="'true'" [nzPageIndex]="pageIndex" [nzTotal]="orderService.totalOrder()" [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate"></nz-pagination>
                <ng-template #rangeTemplate let-range="range" let-total class="d-none d-md-block">
                  {{ range[0] }}-{{ range[1] }} of {{ total }} items
                </ng-template>
              </div>
            </div>
          </div>
          <!--Main Content End-->
        </div>
      } @else {
        <nz-empty></nz-empty>
      }
    </div>
  </div>
  <div class="d-none d-md-flex absolute bottom-0 right-0 d-flex justify-content-end mt-2 w-auto">
    <div class="p-3 pe-4">
      <div class="p-2 p-md-4 bg-white rounded-lg shadow-lg">
        <nz-pagination (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)" [nzResponsive]="'true'" [nzPageIndex]="pageIndex" [nzTotal]="orderService.totalOrder()" [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate"></nz-pagination>
        <ng-template #rangeTemplate let-range="range" let-total class="d-none d-md-block">
          {{ range[0] }}-{{ range[1] }} of {{ total }} items
        </ng-template>
      </div>
    </div>
  </div>
</div>

<app-edit-order></app-edit-order>
