<div class="main-wrapper p-0 p-md-4 pb-md-0">
  <div class="bg-white drop-shadow-lg md:rounded-lg rounded-none pt-0 pt-md-3">
    <ng-template #indicatorTemplate><span class="h-100" style="font-size:50px; color: darkseagreen" nz-icon nzType="loading" nzTheme="outline"></span></ng-template>
    <nz-table
      nzShowSizeChanger
      nzPaginationType='default'
      [nzScroll]="{ y: 'calc(100vh - 300px)', x: '768px'}"
      [nzWidthConfig]="['120px', 'auto', 'auto', 'auto', 'auto', 'auto', '180px']"
      nzTableLayout="auto"
      [nzData]="listOfFood()"
      [nzFrontPagination]="false"
      [nzLoading]="foodService.isSendingRequest()"
      [nzLoadingIndicator]="indicatorTemplate"
      [nzTotal]="foodService.totalFood()"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
      [nzShowTotal]="totalTemplate"
    >
      <ng-template #totalTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
      </ng-template>
      <thead>
      <tr>
        <th nzColumnKey="image"></th>
        <th nzTooltipTitle="Name" nzTooltipPlacement="topLeft" nz-tooltip class="custom-table-title truncate" nzColumnKey="name">Name</th>
        <th nzTooltipTitle="Price" nzTooltipPlacement="topLeft" nz-tooltip class="custom-table-title truncate" nzColumnKey="price">Price</th>
        <th nzTooltipTitle="Discount Type" nzTooltipPlacement="topLeft" nz-tooltip class="custom-table-title truncate" nzColumnKey="designation">Discount Type</th>
        <th nzTooltipTitle="Discount" nzTooltipPlacement="topLeft" nz-tooltip class="custom-table-title truncate" nzColumnKey="joindate">Discount</th>
        <th nzTooltipTitle="Discounted Price" nzTooltipPlacement="topLeft" nz-tooltip class="custom-table-title truncate" nzColumnKey="phone">Discounted Price</th>
        <th class="custom-table-title-button" nzColumnKey="action">
          <button class="add-food-button" (click)="foodService.showAddModal.set(true)">
            <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
            <span>
              Add Food Item
            </span>
          </button>
        </th>
      </tr>
      </thead>
      <tbody>
        @for (data of listOfFood(); track data.id) {
          <tr class="custom-table-row">
            <td>
              <div class="d-flex justify-content-center">
                <nz-avatar [nzSize]="52" nzIcon="warning" [nzSrc]="getImageUrl(data.image)"></nz-avatar>
              </div>
            </td>
            <td [nzTooltipOverlayStyle]=" { 'min-width': '40px' }" nzTooltipTitle="{{ data.name }}" nzTooltipPlacement="topLeft" nz-tooltip class="truncate">{{ data.name }}</td>
            <td [nzTooltipOverlayStyle]=" { 'min-width': '40px' }" nzTooltipTitle="{{ data.price }}" nzTooltipPlacement="topLeft" nz-tooltip class="truncate">{{ data.price }}</td>
            <td [nzTooltipOverlayStyle]=" { 'min-width': '40px' }" nzTooltipTitle="{{ data.discountType }}" nzTooltipPlacement="topLeft" nz-tooltip class="truncate">{{ data.discountType }}</td>
            <td [nzTooltipOverlayStyle]=" { 'min-width': '40px' }" nzTooltipTitle="{{ data.discount }}" nzTooltipPlacement="topLeft" nz-tooltip class="truncate">{{ data.discount }}</td>
            <td [nzTooltipOverlayStyle]=" { 'min-width': '40px' }" nzTooltipTitle="{{ data.discountPrice }}" nzTooltipPlacement="topLeft" nz-tooltip class="truncate">{{ data.discountPrice }}</td>
            <td>
              <div class="d-flex justify-content-center gap-2">
                <button (click)="editFood(data.id)" class="drop-down-button drop-shadow-md" title="Edit Food" aria-label="Edit Food">
                  <span nz-icon nzType="edit" nzTheme="outline"></span>
                </button>
                <button (click)="deleteFood(data.id)" class="drop-down-button drop-shadow-md" title="Delete Food" aria-label="Delete Food">
                  <span nz-icon nzType="delete" nzTheme="outline"></span>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </div>
</div>

<app-add-food></app-add-food>
