<ng-template #modalTitle>
  <div class="d-flex gap-1">
    <span nz-icon nzType="user-add" nzTheme="outline"></span>
    <span>Assign Employee</span>
  </div>
</ng-template>
<nz-modal
  [(nzVisible)]="tableService.showAssignModal"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="tableService.isSendingRequest()"
  [nzWidth]="modalWidth"
  nzCentered
>
  <ng-container *nzModalContent>
    <div class="row gx-3 gy-3">
      <div class="col-12 col-md-6">
        <div class="d-flex flex-col">
          <span class="text-lg mb-3">Table Number - {{ tableService.assignTableName() }}</span>
          <span class="text-lg mb-3">Number of Seats - {{ tableService.assignTableSeats() }}</span>
          <img class="rounded-lg shadow-md" [src]="tableService.assignTableImage()" alt="">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <nz-select
          [nzMaxTagCount]="3"
          [nzMaxTagPlaceholder]="tagPlaceHolder"
          nzMode="multiple"
          nzPlaceHolder="Please select employees"
          [(ngModel)]="listOfSelectedEmployees"
          class="w-100 employee-select"
          nzAllowClear
          nzSize="large"
        >
          @for (emp of listOfAvailableEmployees; track emp.id) {
            <nz-option nzCustomContent [nzLabel]="getEmployeeFullName(emp)" [nzValue]="emp">
              <div class="d-flex align-items-center gap-2">
                <nz-avatar [nzSize]="38" nzIcon="user" [nzSrc]="getEmployeeImageUrl(emp.user.image)"></nz-avatar>
                <span>{{ emp.user.firstName }} {{ emp.user.middleName }} {{ emp.user.lastName }}</span>
              </div>
            </nz-option>
          }
        </nz-select>
        <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
      </div>
    </div>
  </ng-container>

  <div *nzModalFooter>
    <button class="drop-shadow-md" nz-button nzDanger nzType="default" (click)="handleCancel()">Cancel Operation</button>
    <button class="drop-shadow-md" nz-button nzType="primary" (click)="handleOk()"
            [nzLoading]="tableService.isSendingRequest()">Assign Employee
    </button>
  </div>
</nz-modal>
